@import "fonts";
@import "res";
@import "var";
@import "parts/header";
@import "parts/nav";

* {
   // border: 1px solid red;
}
.container {
   margin: 0 auto;
   max-width: 1160px;
   padding: 0 20px;
}
body {
   font-family: Inter, sans-serif;
   & a {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
   }
}
.arrow {
   width: 4px;
   height: 4px;
   transform: rotate(-45deg);
   &--white {
      border-left: 0.5px solid #fff;
      border-bottom: 0.5px solid #fff;
   }
}
