@import "fonts";
@import "res";
@import "var";
@import "parts/header";
@import "parts/nav";
@import "parts/content";
@import "parts/footer";
@import "parts/modal";
@import "parts/account";

* {
   // border: 1px solid red;
}

body {
   font-family: Inter, sans-serif;
   & a {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
   }
}
.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.container {
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 20px;
}
.arrow {
   width: 4px;
   height: 4px;
   transform: rotate(-45deg);
   &--white {
      width: 6px;
      height: 6px;
      border-left: 0.5px solid #fff;
      border-bottom: 0.5px solid #fff;
   }
   &--black {
      border-left: 0.5px solid #333333;
      border-bottom: 0.5px solid #333333;
   }
}

main {
   background: #424242;
   flex: 1 0 auto;
}

.main {
   &__container {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
   }
}
.aside-left {
   max-width: 180px;
   flex: 0 0 180px;
   font-weight: 500;
   font-size: 10px;
}
.aside {
   &__live {
      padding: 0 10px;
      width: 100%;
      background-color: var(--color-grey);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 3px;
   }

   &__live-title {
      height: 30px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
   }
}
.live__emblem {
   margin-right: 6px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}

.live__emblem--inner {
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background-color: #fff;
}
.double-arrow {
   position: relative;
   height: 6px;
   width: 6px;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
   transform: rotate(-45deg);
   &__inner {
      position: absolute;
      width: 6px;
      height: 6px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      top: -2px;
      left: 1px;
   }
   &.left {
      transform: rotate(45deg);
   }
   &.up {
      transform: rotate(135deg);
   }
}
.aside-top {
   margin-top: 10px;
   background-color: var(--color-grey);
   border-radius: 3px 3px 0 0;

   &__title {
      padding: 0 10px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
   }
   &__emblem {
      display: flex;
      align-items: center;
      & svg {
         margin-right: 6px;
         width: 11px;
         height: 15px;
      }
   }

   &__info {
      background: #f5f5f5;
   }

   &__btn-line {
      display: flex;
      justify-content: space-between;
      // width: 100%;
      // gap: 1px;
   }

   &__btn {
      padding: 0 10px;
      flex: 0 1 33.3%;
      height: 29px;
      background-color: var(--color-light_grey);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 10px;
      color: var(--color-dark_grey);
      &.active {
         background-color: var(--color-grey);
         color: #fff;
      }
   }

   &__table-point {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &_yellow {
         background-color: #dcaa29;
      }
      &_blue {
         background-color: #2966dc;
      }
   }

   &__table {
      padding: 0 5px 5px 0;
      color: var(--color-grey);
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 20px auto 35%;
      grid-template-areas:
         "title title title"
         "point team1 date"
         "point team2 time";
   }

   &__table-title {
      grid-area: title;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 15px 5px 10px;
   }

   &__table-point {
      padding-left: 6px;
      justify-self: left;
      &_yellow {
         grid-area: point;
      }

      &_blue {
         grid-area: point;
      }
   }

   &__table-team1 {
      grid-area: team1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px 10px 5px 0;
   }

   &__table-date {
      grid-area: date;
      justify-self: end;
   }

   &__table-team2 {
      grid-area: team2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px 10px 5px 0;
   }

   &__table-time {
      grid-area: time;
      justify-self: end;
   }
}

.aside-filter {
   border-radius: 3px 3px 0 0;
   background-color: var(--color-grey);
   margin-top: 10px;
   padding-bottom: 5px;
   color: #fff;
   font-weight: 500;
   &__title-block {
      padding: 0 10px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
   }

   &__title {
      display: flex;
      align-items: center;
      // justify-content: space-between;
   }

   &__emblem {
      & svg {
         margin-right: 6px;
         width: 9px;
         height: 10px;
      }
   }

   &__subtitle {
      padding-left: 8px;
      height: 20px;
      display: flex;
      align-items: center;
      background-color: var(--color-purple);
      // justify-content: center;
   }
   &__list {
      & li {
         // padding: 2px 10px 2px 20px;
         padding: 0 10px 0 20px;
         height: 20px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         // color: red;
      }
      // padding: 0 10px 0 20px;
   }
}

.aside-right {
   flex: 0 0 282px;
}

.aside-right {
   color: #fff;
   font-size: 12px;
   font-weight: 500;
}
.aside-coupon {
   background-color: var(--color-grey);
   &__nav {
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      & svg {
         margin-right: 6px;
         width: 11px;
         height: 11px;
      }
   }

   &__btn {
      font-size: 10px;
      background-color: var(--color-grey);
      height: 100%;
      // background-color: #fff;
      // transform: skewX(20deg);
      padding: 0 17px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
      & span {
         transform: none;
      }
      &.active {
         background-color: var(--color-dark_blue);
      }
   }

   &__content {
   }

   &__text {
      margin: 4px 3px 0;
      padding: 6px 14px;
      text-align: center;
      background-color: #333333;
   }

   &__bonus {
      font-weight: 700;
      text-align: center;
      padding: 10px 0;
   }

   &__btn-singup {
      background: linear-gradient(180deg, #6565bd 0%, #4b4bb1 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 29px;
      margin: 0 3px;
      text-transform: uppercase;
   }

   &__load {
      border-top: 1px solid rgba(51, 51, 51, 0.2);
      margin-top: 10px;
      padding: 8px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

.aside-offer {
   margin-top: 30px;

   &__title {
      padding: 0 20px;
      background: #636363;
      margin-bottom: 3px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__banner {
      margin-bottom: 20px;
      width: 100%;
      height: 150px;
      background: #d9d9d9;
   }
}
.account-menu {
   padding: 10px 0;
   width: 100%;
   color: #fff;
   font-size: 12px;
   font-weight: 400;
   border-radius: 3px;
   background-color: var(--color-grey);
   &__item {
      padding: 7px 10px;
      &.active {
         background-color: var(--color-purple);
      }
   }
   & li {
   }
}
